<h1>Welcome, <%= current_customer.name %></h1>
<p><%= @shop.text %></p>
<p>The last chosen present is the one that will be shipped.</p>
<p>
  Your choice of present can be changed up to and including
  <em><%= @shop.closes_on %></em>.
</p>
<p>
  You will still be able to log in and view your final choice of present after
  the shop has closed.
</p>
<% if current_customer.orders.count > 0 %>
  <span class="choice">For your information, you have previously chosen <strong><%= current_customer.orders.last.product.title %></strong>.</span>
<% end %>
