#products
  font-weight: bold
  text-align: center

  border-spacing: 16px

  margin: auto

  td
    border: 1px solid #ccc
    padding: 8px
    +border-radius(16px)
    +box-shadow(0 0 16px #000)
    a
      color: #333
      text-decoration: none
      &:hover
        color: #999
    img
      border-width: 0
      display: block
      margin: 0 auto 8px auto



#product
  padding-left: 332px

  h1
    font: normal 24pt georgia, serif
    text-shadow: 1px 1px 1px #999

    border-bottom: 1px solid #555
    
    margin-top: 0
    text-align: left

  a:hover img
    border-color: #999

  img
    border: 3px solid #fff

    float: left
    margin-left: -332px
    padding: 4px

  div
    white-space: pre-line
